.articles article {
  margin-bottom: 35px;
}

.articles article > time {
  color: #555;
}

.articles article > h3 {
  margin: 0px;
  margin-bottom: 10px;
  padding: 5px 20px;
  background-image: url(../images/texture.png);
  background-color: #cdb;
  border-radius: 5px;
  font-size: 24px;
}

.articles article > h3 > a {
  color: #333;
}

.articles article > h3 > a:hover {
  color: #555;
}

.articles article .category {
  margin: 4px 0px;
  font-size: 16px;
}

.articles article .category span {
  font-size: 14px;
}

.articles article .content {
  margin-bottom: 10px;
}

.articles article .read-more {
  display: block;
}

.article {
  margin-bottom: 20px;
}

.article > time {
  color: #555;
}

.article > h1 {
  margin: 0px;
  margin-bottom: 10px;
  padding: 5px 20px;
  background-image: url(../images/texture.png);
  background-color: #cdb;
  border-radius: 5px;
  font-size: 30px;
}

.article .category {
  margin: 4px 0px;
  font-size: 18px;
}

.article .category span {
  font-size: 14px;
}

.article .content {
  margin-bottom: 10px;
}

.category h1 {
  margin: 0px;
  margin-bottom: 20px;
}

.recent_articles_block,
.categories_block {
  margin-bottom: 20px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 5px;
  font-size: 13px;
}

.recent_articles_block h3,
.categories_block h3 {
  margin: 0px;
  margin-bottom: 10px;
}

.recent_articles_block article {
  margin-bottom: 10px;
}

.recent_articles_block time,
.recent_articles_block .category {
  font-size: 11px;
}

.recent_articles_block .link {
  color: #555;
}

.recent_articles_block.fixed {
  position: fixed;
  top: 20px;
}

.pagination {
  margin: 0px;
  margin-bottom: 20px;
}

.pagination > li > a,
.pagination > li > a:hover,
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .disabled > a,
.pagination > .disabled > a:hover {
  background-image: url(../images/texture.png);
  background-color: #eee;
  border: 1px solid #bbb;
  color: #555;
}

.pagination > .active > a,
.pagination > .active > a:hover {
  color: #333;
  background-color: #ddd;
}

.pagination > .disabled > a,
.pagination > .disabled > a:hover {
  color: #999;
  background-color: #f5f5f5;
}

.clear {
  clear: both;
}

.blog-btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 20px;
  border: none;
  background-image: url(../images/texture.png);
  background-color: #482;
  font-weight: bold;
  color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px rgba(128, 128, 128, 0.5);
}

.blog-btn:hover {
  background-color: #371;
  text-decoration: none;
  color: #f5f5f5;
}

