.articles article {
  margin-bottom: 35px;
}

.articles article > time {
  color: #555;
}

.articles article > h3 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 32px;
}

.articles article time,
.articles article .category {
  margin: 4px 0px;
  font-size: 16px;
}

.articles article time span,
.articles article .category span {
  font-size: 14px;
}

.articles article .content {
  margin-bottom: 10px;
}

.articles article .read-more {
  display: block;
  width: 127px;
  margin-top: 10px;
}

.articles article .author {
  margin-bottom: 10px;
}

.articles article .like {
  width: 70px;
  font-weight: bold;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.articles article .like > button {
  width: 34px;
  padding: 5px 10px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #eee;
  outline: none;
  cursor: default;
}

.articles article .like > span {
  display: inline-block;
  width: 34px;
  margin-left: -4px;
  text-align: center;
}

.article {
  margin-bottom: 20px;
}

.article > time {
  color: #555;
}

.article > h1 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 40px;
  color: #13844c;
}

.article time,
.article .category {
  margin: 4px 0px;
  font-size: 18px;
}

.article time span,
.article .category span {
  font-size: 14px;
}

.article .content {
  margin-bottom: 10px;
}

.article .author {
  margin-bottom: 10px;
}

.article .like {
  width: 70px;
  font-weight: bold;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.article .like > button {
  width: 34px;
  padding: 5px 10px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #eee;
  outline: none;
  cursor: default;
  transition: all 0.2s;
}

.article .like > span {
  display: inline-block;
  width: 34px;
  margin-left: -4px;
  text-align: center;
}

.article .like.active button {
  cursor: pointer;
}

.article .like.active button:hover,
.article .like.active button.active {
  background-color: #57c399;
  color: #fff;
}

.article .like.active button:hover span,
.article .like.active button.active span {
  color: #fff;
  transition: all 0.2s;
}

.category h1 {
  margin: 0px;
  margin-bottom: 20px;
}

.recent_articles_block,
.most_popular_block,
.categories_block {
  margin-bottom: 20px;
  padding: 10px;
  background: #fcfcfc;
  border-radius: 3px;
  box-shadow: 1px 2px 3px 0px rgba(128, 128, 128, 0.25);
}

.recent_articles_block h3,
.most_popular_block h3,
.categories_block h3 {
  margin: 0px;
  margin-bottom: 10px;
}

.recent_articles_block article,
.most_popular_block article {
  margin-bottom: 10px;
}

.recent_articles_block time,
.recent_articles_block .category,
.most_popular_block time,
.most_popular_block .category {
  font-size: 12.5px;
}

.recent_articles_block .link,
.most_popular_block .link {
  color: #555;
}

.recent_articles_block.fixed {
  position: fixed;
  top: 20px;
}

