{% include 'blog/_paginator.html' with collection=articles %}

<section class="articles">
  {% for article in articles %}
    <article>
      <time>
        <span class="glyphicon glyphicon-time"></span>
        {{ article.publication_date|date:'Y-m-d H:m' }}
      </time>
      <div class="category">
        <span class="glyphicon glyphicon-folder-open"></span>
        &nbsp;
        <a href="{% url 'blog:show_category' article.category.id %}">{{ article.category.title }}</a>
      </div>
      <h3><a href="{% url 'blog:show' article.id %}">{{ article.title }}</a></h3>
      <div>
        {{ article.content|truncatewords_html:200|safe }}
        <a href="{% url 'blog:show' article.id %}">Read more</a>
      </div>
    </article>
  {% endfor %}
</section>

{% include 'blog/_paginator.html' with collection=articles %}

