{% include 'blog/_paginator.html' with collection=articles %}

<section class="articles">
  {% for article in articles %}
    <article>
      <time>
        <span class="glyphicon glyphicon-time"></span>
        {{ article.publication_date|date:'Y-m-d H:m' }}
      </time>
      <div class="category">
        <span class="glyphicon glyphicon-folder-open"></span>
        &nbsp;
        {% link_to article.category.title 'blog:show_category' article.category.id %}
      </div>
      <h3>{% link_to article.title 'blog:show' article.id %}</h3>
      <div class="content">
        {{ article.content|truncatewords_html:200|safe }}
        {% link_to 'Read more' 'blog:show' article.id 'attrs:class="read-more"' %}
      </div>
      <div class="author">
        <b>Author:</b>
        {% link_to article.author.username 'user_profile' article.author.id %}
      </div>
      <div class="like">
        <button>
          <span class="glyphicon glyphicon-star"></span>
        </button>
        <span class="count">{{ article.like_set.count }}</span>
      </div>
    </article>
  {% endfor %}
</section>

{% include 'blog/_paginator.html' with collection=articles %}

