{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <section class="col-md-9">
      {% block blog_content%}{% endblock %}
    </section>
    <aside class="sidebar col-md-3">
      <section class="recent_articles_block">
        <h3>Recent articles:</h3>

        {% for article in recent_articles %}
          <article>
            <time>
              <span class="glyphicon glyphicon-time"></span>
              {{ article.publication_date|date:'Y-m-d H:m' }}
            </time>
            <div class="category">
              <span class="glyphicon glyphicon-folder-open"></span>
              &nbsp;
              {% link_to article.category.title 'blog:show_category' article.category.id %}
            </div>
            {% link_to article.title 'blog:show' article.id 'attrs:class ="link"' %}
          </article>
        {% endfor %}
      </section>
      <section class="categories_block">
        <h3>Categories:</h3>

        {% for category in categories %}
          <article>
            {% link_to category.title 'blog:show_category' category.id %}&nbsp;
            {{ category.article_set.count }}
          </article>
        {% endfor %}
      </section>
    </aside>
  </div>
{% endblock %}

