{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
  {% include 'blog/paginator.html' with collection=articles %}

  <section class="articles">
    {% for article in articles %}
      <article>
        <time><span class="glyphicon glyphicon-time"></span> {{ article.publication_date }}</time>
        <div class="category"><span class="glyphicon glyphicon-folder-open"></span> &nbsp;{{ article.category.title }}</div>
        <h3><a href="{% url 'blog:show' article.id %}">{{ article.title }}</a></h3>
        <div>{{ article.content|truncatewords_html:200|safe }}</div>
      </article>
    {% endfor %}
  </section>

  {% include 'blog/paginator.html' with collection=articles %}
{% endblock %}

