{% extends 'blog/base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block blog_content %}
  <article class="article">
    <time>
      <span class="glyphicon glyphicon-time"></span>
      {{ article.publication_date|date:'Y-m-d H:m' }}
    </time>
    <div class="category">
      <span class="glyphicon glyphicon-folder-open"></span>
      &nbsp;
      {% link_to article.category.title 'blog:show_category' article.category.id %}
    </div>
    <h1>{{ article.title }}</h1>
    <div>{{ article.content|safe }}</div>
  </article>

  {% if article.author == user %}
    {% link_to 'Edit article' 'blog:edit' article.id 'attrs:class="blog-btn"' %}
  {% endif %}
{% endblock %}

