{% extends 'blog/base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block blog_content %}
  <article class="article">
    <time>
      <span class="glyphicon glyphicon-time"></span>
      {{ article.publication_date|date:'Y-m-d H:m' }}
    </time>
    <div class="category">
      <span class="glyphicon glyphicon-folder-open"></span>
      &nbsp;
      <a href="{% url 'blog:show_category' article.category.id %}">{{ article.category.title }}</a>
    </div>
    <h1>{{ article.title }}</h1>
    <div>{{ article.content|safe }}</div>
  </article>
{% endblock %}

