{% load staticfiles %}
{% load compressed %}

<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Stock | {% block title %}{% endblock %}</title>

    {% compressed_css 'main' %}

    {% compressed_js 'main' %}
  </head>

  <body>
    <div class="wrapper container">
      <header>
        <h1>This is the <strong>Stock</strong></h1>
      </header>

      <main>
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
          {% endfor %}
        {% endif %}

        <nav class="{{ location }}">
          {% link_to 'The Blog' 'blog:index' 'attrs:class="blog"' %}
          {% link_to 'About Us' 'about' 'attrs:class="about"' %}
          {% link_to 'Contact Us' 'contact' 'attrs:class="contact"' %}
        </nav>

        {% block content %}{% endblock %}
      </main>
    </div>

    <div class="container">
      <footer>
        <div class="row">
          <section class="links col-md-2">
            {% link_to 'The Blog' 'blog:index' %}
            {% link_to 'About Us' 'about'%}
            {% link_to 'Contact Us' 'contact' %}
          </section>

          <section class="copyright col-md-2">
            © Stock 2007–2014
          </section>
        </div>
      </footer>
    </div>
  </body>
</html>

